{% extends "juntagrico/manage/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% load juntagrico.common %}
{% load juntagrico.snippets %}

{% block page_title %}
    <h3>{% blocktrans %}Beiträge in Runde {{ round }}{% endblocktrans %}</h3>
{% endblock %}

{% block content %}
    {% crispy round_form %}
    {% include 'juntagrico/manage/member/snippets/toggle_buttons.html' with co_members=True %}
    {{ block.super }}
{% endblock %}

{% block list %}
    {% config "currency" as c_currency %}
    <table id="filter-table" class="list table">
        <thead>
            <tr>
                {% block list_head %}
                    <th class="filter">
                        {% trans "Auswahl" %}
                    </th>
                    <th class="filter">
                        {% blocktrans %}Beitrag [{{ c_currency }}] (Nominal){% endblocktrans %}
                    </th>
                    <th class="filter">
                        {% trans "Kann kontaktiert werden" %}
                    </th>
                    <th class="filter">
                        {% trans "Zuletzt geändert am" %}
                    </th>
                    <th class="filter">
                        {% vocabulary "subscription" %}
                    </th>
                    <th class="filter">
                        {% trans "Inhalt" %}
                    </th>
                    <th class="filter">
                        {% trans "Kontakt" %}
                    </th>
                {% endblock %}
            </tr>
        </thead>
        <tfoot>
            <tr>
                {% block list_foot %}
                    <th>
                        {% trans "Auswahl" %}
                    </th>
                    <th>
                        {% blocktrans %}Beitrag [{{ c_currency }}]{% endblocktrans %}
                    </th>
                    <th>
                        {% trans "Kann kontaktiert werden" %}
                    </th>
                    <th>
                        {% trans "Zuletzt geändert am" %}
                    </th>
                    <th>
                        {% vocabulary "subscription" %}
                    </th>
                    <th>
                        {% trans "Inhalt" %}
                    </th>
                    <th>
                        {% trans "Kontakt" %}
                    </th>
                {% endblock %}
            </tr>
        </tfoot>
        <tbody>
            {% for subscription in object_list %}
                {% block list_entry %}
                    <tr>
                        {% if subscription.current_contribution %}
                            {% with selection=subscription.current_contribution.0 %}
                                <td>
                                    {% if perms.juntagrico_contribution.view_contributionselection or perms.juntagrico_contribution.change_contributionselection %}
                                        <a href="{% url 'admin:juntagrico_contribution_contributionselection_change' selection.pk %}">
                                            {{ selection.selected_option|default:_('Anderer Betrag') }}
                                        </a>
                                    {% else %}
                                        <span>
                                            {{ selection.selected_option|default:_('Anderer Betrag') }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ selection.price|floatformat:'2g' }} ({{ selection.get_nominal_price|floatformat:'2g' }})
                                </td>
                                <td>
                                    {{ selection.contact_me|yesno:_("Ja,Nein") }}
                                </td>
                                <td>
                                    {{ selection.modification_date|date:"Y-m-d" }}
                                </td>
                            {% endwith %}
                        {% else %}
                            <td>
                                {% trans "Kein Gebot" %}
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                        {% endif %}
                        <td>
                            {% include 'juntagrico/manage/subscription/snippets/display_linked.html' %}
                        </td>
                        <td>
                            {% for item in subscription.content_strings %}
                                <div>
                                    {{ item }}
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% include 'juntagrico/manage/subscription/snippets/members_linked.html' %}
                        </td>
                    </tr>
                {% endblock %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block datatable_constructor %}
    {{ block.super }}
    {# sort by date #}
    config.order = [
        [3, 'desc'],
    ]
{% endblock %}
