{% extends "juntagrico/menu/admin.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block extend %}
    {% if perms.juntagrico.can_view_contributionrounds %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#contribution">
                {% trans "Beitragsrunden" %}
                <i class="fas fa-angle-right">
                </i>
            </a>
            <div class="collapse" id="contribution">
                <ul class="nav flex-column admin-menu subadmin-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jcr:admin-list' %}">
                            {% trans "Übersicht" %}
                        </a>
                        <a class="nav-link" href="{% url 'jcr:admin-details' %}">
                            {% trans "Details" %}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}