.jcr-option {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    padding: 0 1em;
    margin: 1em 0;
}

.jcr-option .jcr-option-title {
    font-size: 16pt;
    font-weight: bold;
}

.jcr-details .jcr-details-arrow {
    /* animate rotation */
    rotate: 90deg;
}

.jcr-details.collapsed .jcr-details-arrow {
    rotate: 0deg;
}

#jcr_selection_form .switch label {
    white-space: nowrap;
}
