{% extends "base.html" %}
{% load juntagrico.config %}
{% load i18n static %}

{% block page_title %}
    <h3>{% translate "Deine Beiträge" %}</h3>
{% endblock %}

{% block content %}
    {% config "currency" as c_currency %}
    {% for contribution in contributions %}
        <h4>{{ contribution.round }}</h4>
        <p>
            {% trans "Dein Beitrag:" %} {{ c_currency }} {{ contribution.price }}
        </p>
        <p>
            {% if contribution.contact_me %}
                <br>
                {% trans "Danke, dass wir dich kontaktieren dürfen, falls es nicht reichen sollte." %}
            {% endif %}
        </p>
        {% if contribution.round.status == contribution.round.STATUS_ACTIVE %}
            <a href="{% url 'jcr:select' %}" class="btn btn-success">
                {% trans "Beitrag erhöhen" %}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block styles %}
    <link href="{% static "jcr/css/style.css" %}" rel="stylesheet"/>
{% endblock %}
